.container {
    height: 42px;
    width: 468px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: solid 1px #f0f2f3;
    border-radius: 5px;
    margin-bottom: 5px;
}
.title {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
}
.detail {
    font-size: 8px;
    font-weight: 500;
    margin: 0;
    color: #737e89;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    max-width: 400px;
}
.no {
    width: 23px;
    height: 23px;
    line-height: 23px;
    font-size: 10px;
    font-weight: bold;
    color: #5e46ef;
    text-align: center;
    border-radius: 23px;
    background-color: #f7f6fe;
    margin-left: 8px;
    margin-right: 8px;
}
.no p {
    margin: 0;
}