.settingBtn {
    background-color: #ffffff;
    width: 80px;
    height: 20px;
    font-size: 8px;
    display: flex;
    padding: 0;
    align-items: center;
    border: solid 1px #f0f2f3;
    border-radius: 3px;
    outline: none;
    position: absolute;
    right: 111px;
    top: 10px;
    color: #5e46ef;
    font-weight: bold;
}
.settingBtn:active {
    transform: translateY(1px);
}
.settingBtn svg{
    width: 12px;
    padding-left: 6px;
    padding-right: 6px;
}
.newModule {
    background-color: #5e46ef;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 3px;
    outline: none;
    font-size: 8px;
    width: 77px;
    height: 20px;
    font-weight: bold;
    position: absolute;
    right: 28px;
    top: 10px;
}
.newModule:active {
    transform: translateY(1px);
}
