@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');

.app {
    height: 600px;
    width: 838px;
    border: #1c1547 1px solid;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
}